.box {
    display: flex;
    justify-content: space-between;
}

.btnIt{
    margin: 5px;
}

.box.done{

    font-size: 10px;
    color: darkred;
    text-decoration: line-through;
}

.box.important {

    color: darkviolet;

    font-size: 30px;

}